<header>
    <div class="container">
      <div class="header-content">
        <a to="/" class="navbar-logo">
          <img src='assets/images/logo.svg' class="logo" alt="Billsby" />
          <span class="t-logo">Billsby Card Tokenizer (Angular)</span>
        </a>
        <button class='toggle-menu burger-close'>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class='menu-holder'>
          <a href="https://github.com/Billsby/billsby-tokenizer-react" class="btn-white">Download on Github</a>
        </div>
      </div>
    </div>
</header>