<header>
    <div class="container">
      <div class="header-content">
        <a to="/" class="navbar-logo">
          <img src='assets/images/logo.svg' class="logo" alt="Billsby" />
          <span class="t-logo">Billsby Card Tokenizer (Angular)</span>
        </a>
        <button [ngClass]="[ toggleMenu ? 'toggle-menu burger-close' : 'toggle-menu burger-open']" (click)="handleToggleMenu()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div [ngClass]="[ toggleMenu ? 'menu-holder' : 'menu-holder menu-open']">
          <a href="https://github.com/Billsby/billsby-tokenizer-angular" class="btn-white">Download on Github</a>
        </div>
      </div>
    </div>
</header>