<main class="container">
    <div class="content">
        <div class="form-wrap">
            <form id="payment-form" >
                <input type="hidden" name="payment_method_token" id="payment_method_token">
                <div class="form-container">
                    <label class="form-label t-title" for="full_name">Name</label>
                    <div class="input-wrap">
                        <input id="full_name" class="form-input" name="full_name" type="text" placeholder="Full Name"  [(ngModel)]="paymentForm.full_name">
                    </div>
                </div>
            
                <div class="form-container">
                    <label class="form-label t-title">Credit Card Number</label>
                    <div class="input-wrap">
                      <div id="billsby-number" class="form-input custom-input"></div>
                    </div>
                  </div>
                
                <div class="form-container">
                    <label class="form-label t-title" for="month">Expiration Date</label>
                    <div class="input-wrap dual-form">
                        <input id="month" class="form-input" name="month" type="text" maxlength="2" placeholder="XX"  [(ngModel)]="paymentForm.month">
                        <input id="year" class="form-input" name="year" type="text" maxlength="4" placeholder="XXXX"  [(ngModel)]="paymentForm.year">
                    </div>
                </div>
                
                <div class="form-container">
                    <label class="form-label t-title">CVV</label>
                    <div class="input-wrap">
                        <div id="billsby-cvv" class="form-input custom-input"></div>
                    </div>
                </div>
                
                <div class="reminder-wrap">
                    <p class="t-text">For test accounts, use <span>4111111111111111</span> with any future dated expiry date and any three digit CVV. The tokenizer does not validate cards.</p>
                </div>
                <button id="submit-button" type="submit" (click)="onSubmit()" class="btn-orange w-100" [disabled]="isDisabled">Submit and tokenize</button>
                
            </form>
        </div>
    </div>
    <div class="console-wrap">
        <div class="console-header">
          <h6 class="t-title">Console </h6>
        </div>
        <div class="console-body">
            <pre><div id="json-pretty" [innerHtml]="get_payment_info"></div></pre>
           <!--  {{payment_info2}} -->
        </div>
      </div>
    </main>
